<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <table class="table table-hover">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Name One</td>
              <td>Type</td>
              <td>Category</td>
            </tr>
            <tr>
              <th>2</th>
              <td>Name Two</td>
              <td>Type</td>
              <td>Category</td>
            </tr>
            <tr>
              <th>3</th>
              <td>Name Three</td>
              <td>Type</td>
              <td>Category</td>
            </tr>
            <tr>
              <th>4</th>
              <td>Name Four</td>
              <td>Type</td>
              <td>Category</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="shadow-sm p-3 mb-5 bg-light rounded">
        <div class="row">
          <div class="col-4 ml-4">
            <mat-form-field>
              <input type="text" matInput placeholder="First Name">
            </mat-form-field>
          </div>
          <div class="col-6">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>