<section>
    <mat-toolbar class="p0-subHeader" color="basic">Account Details</mat-toolbar>
    <hr>
    <table class="p0-table">
      <tr>
        <td class="p0-td-label">Account Number:</td>
        <td class="p0-td-value">1</td>
      </tr>
      <tr>
        <td class="p0-td-label">Account Name:</td>
        <td class="p0-td-value">Name</td>
      </tr>
    </table>
    <hr>

    <div class="p0-btn-row" fxLayout="row" fxLayoutAlign="end end">
      <div class="p0-btn-col">
        <button mat-mini-fab color="accent">
          <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
        </button>
      </div>
  
      <div class="p0-btn-col">
        <button mat-mini-fab color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </div>
    </div>

<!-- 
  <mat-card>
    <mat-card-title>Title</mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content>
      <p>This is the card content</p>
    </mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card> -->

</section>