<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="shadow-sm p-2 pg-bg mb-5 bg-light rounded">

                <div class="row pg-head-ctrl">
                    <div class="col pg-head-ctrl p-2 w-100">
                        <div class="shadow-none p-0 mb-3 bg-light ">
                            <div class="button-row p2 d-flex">
                                <span class="mr-auto pg-title">Accounts</span>
                                <button mat-icon-button color="primary" (click)="onNew()">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                
                <div class="row pg-body">
                    <div class="col pg-body p-2 w-100">
                        <div class="shadow-none p-3 mb-0 bg-white">

                            <app-account-list (selectedAccount)="setAccountToEdit($event)"
                                (editSelectedAccount)="onEdit($event)"
                                *ngIf="mode == 'list'"></app-account-list>
                            <app-account-edit (returnedResult)="returnedResult($event)"
                                [accEditParams]="getAccEditParams()" 
                                *ngIf="mode == 'new' || mode == 'edit'"></app-account-edit>
                            <app-account-view (returnedResult)="returnedResult($event)"
                                [accViewParams]="getAccEditParams()"
                                *ngIf="mode == 'view'"></app-account-view>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>