.post-container {
  width: 100%;
}

mat-card {
  margin-top: 1rem;
  min-width: 450px;
}
mat-card-title {
  color: #0288d1;
  font-weight: 500;
}

mat-card-content {
  margin-top: 1rem;
  width: 80%;
}

mat-form-field,
input,
textarea {
  width: 100%;
}
