<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Account Number</th>
            <th scope="col">Account Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of accountList" (click)="rowSelected(acc.id)" (dblclick)="ondblClick(acc.id)" id="{{acc.id}}"
            (mouseenter)="onMouseEnter(acc.id)" (mouseleave)="onMouseLeave()">
            <td class="table-row-icon">
                <button mat-icon-button color="accent" (click)="onEdit(acc.id)"
                    *ngIf="mouseenterId == acc.id">
                    <mat-icon>create</mat-icon>
                </button>
            </td>
            <td>{{ acc.accountNum }}</td>
            <td>{{ acc.accountName }}</td>
        </tr>
    </tbody>
</table>